In [9]:
# Import Dependencies
import pandas as pd

In [10]:
# File to Load

# Read the modified GoodReads csv and store into Pandas DataFrame
# Hint: Build a DataFrame. You may need to use utf-8 encoding (encoding="utf-8")

books_file = 'Resources/books_clean.csv'
books_file_df = pd.read_csv(books_file)

books_file_df.head(10)

,ISBN,Publication Year,Original Title,Authors,One Star Reviews,Two Star Reviews,Three Star Reviews,Four Star Reviews,Five Star Reviews
0,439023483,2008.0,The Hunger Games,Suzanne Collins,66715,127936,560092,1481305,2706317
1,439554934,1997.0,Harry Potter and the Philosopher's Stone,"J.K. Rowling, Mary GrandPré",75504,101676,455024,1156318,3011543
2,316015849,2005.0,Twilight,Stephenie Meyer,456191,436802,793319,875073,1355439
3,61120081,1960.0,To Kill a Mockingbird,Harper Lee,60427,117415,446835,1001952,1714267
4,743273567,1925.0,The Great Gatsby,F. Scott Fitzgerald,86236,197621,606158,936012,947718
5,525478817,2012.0,The Fault in Our Stars,John Green,47994,92723,327550,698471,1311871
6,618260307,1937.0,The Hobbit or There and Back Again,J.R.R. Tolkien,46023,76784,288649,665635,1119718
7,316769177,1951.0,The Catcher in the Rye,J.D. Salinger,109383,185520,455042,661516,709176
8,1416524797,2000.0,Angels & Demons,Dan Brown,77841,145740,458429,716569,680175
9,679783261,1813.0,Pride and Prejudice,Jane Austen,54700,86485,284852,609755,1155673

In [11]:
# Calculate the number of unique authors in the DataFrame
unique_authors = books_file_df["Authors"].nunique()
unique_authors

4664

In [12]:
# Calculate the earliest and latest year a book was published
first_year = books_file_df["Publication Year"].min()
last_year = books_file_df["Publication Year"].max()

print(first_year)
print(last_year)

-1750.0
2017.0

In [13]:
# Calculate the total reviews column that contains the sum of reviews for each row
# Hint: use the pandas' sum(axis='columns') to get the sum across the columns 

new_books_file_df = books_file_df[["One Star Reviews","Two Star Reviews","Three Star Reviews","Four Star Reviews",
                           "Five Star Reviews"]]

new_books_file_df['Total'] = new_books_file_df.sum(axis='columns')

total  = new_books_file_df["Total"].sum()

total

C:\Users\dinom\anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

596873216

In [14]:
# Place all of the data found into a summary DataFrame

# Display the summary data frame

books_dict = [{'Unique Authors':unique_authors,'Earliest Year':first_year,'Latest Year':last_year,'Total Reviews':total}]

books_df = pd.DataFrame(books_dict)

books_df

   Unique Authors  Earliest Year  Latest Year  Total Reviews
0            4664        -1750.0       2017.0      596873216